body{
  background-color: linen; 
}
body:hover{
    background-color:whitesmoke;
}

h1{
    color: black;
    text-align:center;
}
h2{
    color: black;
    text-align:center;
}
h3{
    color: black;
    text-align:center;
}
h4{
    color: black;
    text-align:center;
}
p{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    color: black;
}
p:hover{
    color:pink;
}
h1:hover{
    color:rgb(159, 159, 255);
}
h2:hover{
    color:lightgreen;
}
h3:hover{
    color:coral;
}
h4:hover{
    color:rgb(255, 199, 115);
}
div.a {
    line-height: 1.6;
  }
  div.b {
    line-height: 1.6;
  }
  figcaption:hover{
color: cornflowerblue;
  }